<!DOCTYPE html>
<html>
  <head>
    <title>JaceBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

     <script type="text/javascript">
        window.jacebook = "<%= image_url('jacebook.png') %>";
        window.demouserimg = "<%= image_url('cat1.png') %>";
        window.aa = "<%= image_url('aa.svg') %>";
    </script>
    

  </head>

  <body>
    <%= yield %>
  </body>
</html>
