<!DOCTYPE html>
<html>
  <head>

    <title>JaceBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
     <script type="text/javascript">
        window.jacebook = "<%= image_url('jacebook.png') %>";
        window.aa = "<%= image_url('aa.svg') %>";
        window.unknow = "<%= image_url('unknow.png') %>"; 
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('jacebook.png') %>
   

  </head>

  <body>
    <%= yield %>
  </body>
</html>
